*{
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  background-color: gray;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  text-transform: capitalize;
  font-family: sans-serif;
}



.content {
  height: 240px;
  width: 250px;
  background-color: lightgray;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  margin: 0 0 20px 0;
}

.rezultat {
  height: 44px;
  width: 200px;
  background-color: white;
  margin: 5px auto;
  padding-top: 10px;

}

input{
  text-align: center;
  width: 80px;
  margin: 1px;
}
#op{
  width: 20px;
}
#broj2{}

#btn{
  margin-top: 10px;
}

#btn:hover {
  background-color: green;
  border: solid darkgreen 1px;
  border-radius: 4px;
  height: 18px;
}
